.content {
    background-color: rgb(185, 185, 185);
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    overflow-y: none;
}

.head {
    display: flex;
    padding: 15px 15px;
    max-height: 72px;
}

.head:hover {
    cursor: pointer;
}

.head img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    margin-right: 15px;
    margin-top: 5px;
}

.head h2, h4 {
    margin-top: 4px;
}

.head h2 {
    font-size: 32px;
    margin-bottom: 0;
}

.head span {
    font-size: 12px;
}

.pcontent {
    margin-left: 94px;
    margin-top: -35px;
}

.post {
    padding: 20px 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
}