.content {
    background-color: rgb(185, 185, 185);
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;

    overflow: none;
    height: 100%;
}

body {
    overflow: none!important;
    height: 100%;
}

.head {
    display: flex;
    padding: 15px 15px;
    max-height: 72px;
}

.head:hover {
    cursor: pointer;
}

.head img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    margin-right: 15px;
    margin-top: 5px;
}

.head h2, h4 {
    margin-top: 4px;
}

.head h2 {
    font-size: 32px;
    margin-bottom: 0;
}

.head span {
    font-size: 12px;
}

.pcontent {
    margin-left: 94px;
    margin-top: -15px;
    overflow: auto;
    height: 80%;
}

.post {
    padding: 20px 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
    
    overflow: none;
    height: calc(100% - 72px);
}

h4 {
    margin-top: 35px;
    margin-bottom: 0px;
}

.miyuki-codeblock {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(22, 22, 22);   
    padding: 12px 12px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

keyword {
    color: rgb(104,151,187);
}

type {
    color: #a5c25c;
}

quotes {
    color: #cc7832;
}

token {
    border: 1px solid #cccccc;
    padding: 6px 6px;
    color:black;
}