.header {
	position: fixed;
	overflow: hidden;
	padding: 20px 10px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	border-bottom: 1px solid rgb(191, 0, 255);
}

.header {
	 line-height:4em;
  -webkit-box-shadow: 15px 0px 10px -10px rgba(0,0,0,0.51);
  -moz-box-shadow: 15px 0px 10px -10px rgba(0,0,0,0.51);
  box-shadow: 15px 0px 10px -10px rgba(0,0,0,0.51);
  background-color: #cb2fff2a;
  backdrop-filter: blur(2px);
}
  
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
  
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
  
  
.header a:hover {
  background-color: rgba(234, 0, 255, 0.159);
  color: black;
}
  
.header-right {
  float: right;
}
  
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}