.projectpanel {
    margin-top: 10px;
    background-color: green;
    color: white;
    width: 500px;
}

.projectpanel a {
    color: white;
    text-decoration: none;
    font-size: 30;
}

.padallow {
    padding: 8px 8px;
}

.projectpanel p {
    margin: 0;
}

.purple {
    background-color: blueviolet;
    color: white;
}