body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#contact {
    width: 486px;
    height: 190px;
    margin: 0 auto;
    padding: 12px 24px;
    margin-top: 270px;
    background-color: #cb2fff2a;
    
	border: 1px solid rgb(191, 0, 255);
}


#contact .content {
    margin: 13px;
    text-align: center;
}